# Runtime
click
huggingface-hub
matplotlib
methodtools
numpy
pandas
scipy
scikit-learn
torch
tqdm
transformers
tables

# Provides `import olmo`
ai2-olmo
datasets

# Notebooks and figures
jupyter
Pillow
zss
